* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

h1 {
  font-size: 2.488rem;
}

h2 {
  font-size: 2.074rem;
}

h3 {
  font-size: 1.728rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
}

p {
  margin: 0.66rem 0;
}

a, a:visited {
  text-decoration: none;
  color:#c078d6;
}

a:hover {
  text-decoration: underline;
}

.overview {
  width: 300px;
  height: 300px;
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 2;
}

.container {
  display: flex;
  flex-direction: column;
}

#acnhMap {
  position: relative;
  height: 100vh;
  width: auto;
  margin: 0 auto;
}

#acnhMap img {
  height: 100%;
  width: auto;
}

a.btn {
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  text-decoration: none;
}

a.mapBtn {
  font-size: 2.75rem;
  position: absolute;
  cursor: pointer;
  margin: 0;
  padding: 0px;
  width: 50px;
  padding-bottom: 50px;
  height: 0;
  -moz-transition: background 0.5s ease-out;
  -o-transition: background 0.5s ease-out;
  -webkit-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;
  -moz-border-radius: 50% / 50%;
  -webkit-border-radius: 50% 50%;
  border-radius: 50% / 50%;
  background: #c078d6;
  background-size: cover;
  color: #fff;
  border: solid 1px #fff;
  text-align: center;
  line-height: 3rem;
}

a.mapBtn:hover {
  color: #fff;
  background: #282525;
  text-decoration: none;
}

#campsite {
  bottom: 18%;
  left: 32%;
}

#market {
  bottom: 32%;
  left: 38%;
}

#plaza {
  bottom: 20.5%;
  right: 37.5%;
}

#farm {
  bottom: 25%;
  right: 15%;
}

#hikingTrail {
  right: 15%;
  top: 42%;
}

#residential {
  top: 42%;
  left: 39%;
}

#museum {
  top: 34%;
  left: 37%;
}

#sushiBar {
  top: 30%;
  right: 37%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 50px 20px;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  margin: auto;
  background-color: rgba(0,0,0,0.75);
}

.modalContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 50px;
  width: 50%;
  margin: auto;
  max-width: 100vw;
  color: white;
}

.close {
  color: white;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.modalDesc {
  display: flex;
}

.modalDesc > * {
  max-width: 50%;
  flex: 1;
}

.modalImg, .modalDescription {
  margin: 30px 0;
}

.modalDescription {
  padding: 15px 30px;
}

.modalImg {
  width: 100% !important;
  height: auto !important;
}